<div class="container-fluid">
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-10 div-color">
			<h1 class="common-title">Reset Password</h1>
			<form name="resetPasswordForm"
				ng-submit="resetPassword(resetPasswordForm.$valid)" novalidate>
				<div class="row">
					<div class="col-sm-3"></div>
					<div class="col-sm-9">
						<span>{{expired}}</span>
						<div class="form-group form-group-style">
							<label for="pwd" class="password-style">Password:</label>
							<div class="row">
								<div class="col-sm-1">
									<i class="fa fa-key fontawesome-style"></i>
								</div>
								<div class="col-sm-7">
									<input type="password" name="password" ng-model="password"
										required class="form-control fontawesome-input-style"
										id="email" placeholder="Enter your password">
								</div>
								<div class="col-sm-4 validation-input-style">
									<span
										ng-show="resetPasswordForm.password.$invalid && !resetPasswordForm.password.$pristine">Password
										is required </span>
								</div>
							</div>
						</div>
						<div class="form-group form-group-style">
							<label for="pwd" class="password-style">Confirm Password:</label>
							<div class="row">
								<div class="col-sm-1">
									<i class="fa fa-key fontawesome-style"></i>
								</div>
								<div class="col-sm-7">
									<input type="password" name="confirmPassword"
										ng-model="confirmPassword" required
										class="form-control fontawesome-input-style"
										placeholder="Enter your conform password">
								</div>
								<div class="col-sm-4 validation-input-style">
									<span
										ng-show="resetPasswordForm.confirmPassword.$invalid && !resetPasswordForm.confirmPassword.$pristine">Confirm
										password is required </span> <span>{{resetPasswordMessage}}</span>
								</div>
							</div>
						</div>
						<div class="row border-forget-hyperlink">
							<div class="col-sm-8">
								<button type="submit"
									class="btn btn-success button-style btn-block btn-block-register-style">Reset</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="col-sm-1"></div>
	</div>
</div>
